{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Modifier mon profil</button>

            {{ form_end(form) }}
        </div>
        
    </div>
</div>

{% endblock %}
