body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    font-size: 1rem !important;
}

h1 {
    font-size: 2.5rem !important;
}

.middle-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0.01, #f23c51),  color-stop(0.5, #AA6FF8), color-stop(0.99, #3397cd) ) ;
    color:transparent!important;
    -webkit-background-clip: text;
}

.yellow {
    color: yellow !important;
}

.pink {
    color: deeppink !important;
}

.blue {
    color: deepskyblue !important;
}

.green {
    color: limegreen !important;
}

.red {
    color: red !important;
}

.orange {
    color: darkorange !important;
}

.violet {
    color: darkviolet !important;
}

.white {
    color: white !important;
}

/* Navbar */
nav.navbar {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar .logo {
    width: 100px;
}

.navbar {
    border-radius: 25px 25px 55px 45px/55px 55px 25px 25px !important;
}

/* Form */
form > div > div {
    margin-bottom: 1rem;
} 

form label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

form textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    display: block;
    height: calc(1.5em + 2rem);
    padding: 1rem 0;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background-color: transparent;
    background-clip: padding-box;
    border: 0rem solid transparent;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form {
    padding-top: 2rem;
}

/*Home box*/
.home-box {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.home-box-items {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #222222;
    margin: 2rem;
    border-radius: 15px;
    flex-direction: row;
}

.home-box-items > div {
    font-size: 1.5rem !important;
    text-align: center;
}


