.ingredients {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0rem !important;
    width: 60%;
    height: 85vh;
    max-height: 85vh;
    overflow-y: auto;
}

.ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredient-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ingredient-trash,
.ingredient-edit,
.ingredient-add,
.ingredient-adding-cancel,
.ingredient-adding-add {
    cursor: pointer;
}

.ingredient-trash {
    margin-left: 1.5rem;
}

.ingredient-add {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}

.ingredient-adding {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1rem;
}

.ingredient-add.active,
.ingredient-adding.active {
    display: none;
}

.ingredient-adding-fields,
.ingredient-adding-submit {
    display: flex;
    flex-direction: row;
}

.ingredient-adding-fields > input {
    padding: 0 !important;
    height: 2rem !important;
}

.ingredient-adding-name,
.ingredient-adding-add {
    margin-right: 1.5rem;
}